<!-- Start -->
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="team">
  <div class="container">
    <div class="grid grid-cols-1 pb-8 text-center">
      <h6 class="text-blue-600 text-base font-medium uppercase mb-2">
        Mengapa harus Training di
      </h6>
      <h3 class="mb-4 md:text-2xl text-xl font-medium dark:text-white">
        Siaga Arka Bestarindo
      </h3>

      <p class="text-slate-400 dark:text-slate-300 max-w-xl mx-auto">
        Komitment kami untuk menghadirkan Training yang menyesuaikan dengan
        kebutuhan anda.
      </p>
    </div>
    <!--end grid-->

    <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 gap-6 mt-8">
      <div class="relative rounded-md shadow-lg overflow-hidden group">
        <img
          src="assets/images/Training-sabe01.jpg"
          class="group-hover:origin-center group-hover:scale-105 transition duration-500 object-cover w-full h-full"
          alt=""
        />
        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-30 z-0 transition duration-500"
        ></div>
        <div
          class="content absolute start-4 end-4 bottom-4 bg-white dark:bg-slate-900 opacity-0 group-hover:opacity-100 p-4 rounded-md text-center transition-all duration-500"
        >
          <a
            href="javascript:void(0);"
            class="h5 text-md dark:text-white hover:text-blue-600 dark:hover:text-blue-600 font-medium"
            >Kredibel</a
          >
          <h6 class="text-slate-400 dark:text-slate-300 mb-0 font-light">
            Garansi 100% lisensi resmi dari KEMNAKER RI dan BNSP untuk 3,000+
            Pelatihan
          </h6>
        </div>
      </div>

      <div class="relative rounded-md shadow-lg overflow-hidden group">
        <img
          src="assets/images/Training-sabe02.jpg"
          class="group-hover:origin-center group-hover:scale-105 transition duration-500 object-cover w-full h-full"
          alt=""
        />
        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-30 z-0 transition duration-500"
        ></div>
        <div
          class="content absolute start-4 end-4 bottom-4 bg-white dark:bg-slate-900 opacity-0 group-hover:opacity-100 p-4 rounded-md text-center transition-all duration-500"
        >
          <a
            href="javascript:void(0);"
            class="h5 text-md dark:text-white hover:text-blue-600 dark:hover:text-blue-600 font-medium"
            >Belajar dari Expert Rosy</a
          >
          <h6 class="text-slate-400 dark:text-slate-300 mb-0 font-light">
            Kurikulum pembelajaran yang komprehensif. Pengajar adalah ahli dan
            praktisi dari top company
          </h6>
        </div>
      </div>

      <div class="relative rounded-md shadow-lg overflow-hidden group">
        <img
          src="assets/images/Training-sabe03.jpg"
          class="group-hover:origin-center group-hover:scale-105 transition duration-500 object-cover w-full h-full"
          alt=""
        />
        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-30 z-0 transition duration-500"
        ></div>
        <div
          class="content absolute start-4 end-4 bottom-4 bg-white dark:bg-slate-900 opacity-0 group-hover:opacity-100 p-4 rounded-md text-center transition-all duration-500"
        >
          <a
            href="javascript:void(0);"
            class="h5 text-md dark:text-white hover:text-orange-600 dark:hover:text-orange-600 font-medium"
            >Networking Berkualitas
          </a>
          <h6 class="text-slate-400 dark:text-slate-300 mb-0 font-light">
            15,000+ alumni dari berbagai industri diberikan akses komunitas
            untuk saling berinteraksi & berdiskusi
          </h6>
        </div>
      </div>

      <div class="relative rounded-md shadow-lg overflow-hidden group">
        <img
          src="assets/images/Training-sabe04.jpg"
          class="group-hover:origin-center group-hover:scale-105 transition duration-500 object-cover w-full h-full"
          alt=""
        />
        <div
          class="absolute inset-0 bg-black opacity-0 group-hover:opacity-30 z-0 transition duration-500"
        ></div>
        <div
          class="content absolute start-4 end-4 bottom-4 bg-white dark:bg-slate-900 opacity-0 group-hover:opacity-100 p-4 rounded-md text-center transition-all duration-500"
        >
          <a
            href="javascript:void(0);"
            class="h5 text-md dark:text-white hover:text-orange-600 dark:hover:text-orange-600 font-medium"
          >
            Metode pembelajaran Interaktif</a
          >
          <h6 class="text-slate-400 dark:text-slate-300 mb-0 font-light">
            Metode pelatihan efektif & interaktif untuk peserta Online &
            Offline. Mulai dari teori hingga simulasi lapangan.
          </h6>
        </div>
      </div>
    </div>
    <!--end grid-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- End -->
