<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->
<section class="py-36 lg:py-55 w-full table relative bg-[url('assets/images/bg/sab1.jpg')] bg-center bg-cover">
    <div class="absolute inset-0 bg-black opacity-80"></div>
    <div class="container relative">
        <div class="grid grid-cols-1">
            <p class="text-white mb-0 text-4xl text-center">PT. Siaga Arka Bestarindo</p>

            <div class="relative mt-10">
                <p class="text-white mb-0 text-xl text-center" > Kenali <span class="text-blue-600 mb-0 text-xl font-medium text-center">kami</span> lebih dalam</p>
            </div>
        </div>
    </div><!--end container-->
</section>

<!-- Start -->
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="about">
    <div class="container mx-auto">
        <div class="gap-10 items-center">
            <div class=>
                <h6 class="text-blue-600 text-base font-medium uppercase mb-2 text-center">Who We Are ?</h6>
                <h3 class="mb-4 text-xl font-medium dark:text-white text-center">Sekilas Profil</h3>
                <p class="text-slate-400 dark:text-slate-300 max-w-2xl mx-auto text-justify"> <b>PT Siaga Arka Bestarindo (SABES)</b>, hadir untuk menjadi mitra solusi bagi perusahaan untuk meningkatkan skill  secara efisien. 
                    Ciri khas dari kami yaitu menekankan kepada kemitraan setara, hubungan yang humanis antara para pemangku kepentingan, serta efisiensi dalam proses dan biaya. Dalam proses training tersebut, kami juga membantu para talenta untuk mengembangkan dan mempersiapkan kompetensinya guna meraih karir impian.

                    </p>
            </div>
</div>        
</div><!--end container-->

<div class="container mx-auto" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 gap-10 items-center">
        <div class="lg:col-span-5">
            <div class="relative">
                <img src="assets/images/about.png" class="relative"  alt="">
                <!--<div class="absolute bottom-2/4 translate-y-2/4 start-0 end-0 text-center">
                    <a href="javascript:void(0);" appVideopopup data-target="https://www.youtube.com/embed/S_CGed6E610" data-type="youtube" data-id="yba7hPeTSjk"
                        class="h-20 w-20 rounded-full shadow-lg shadow-slate-100 dark:shadow-slate-800 inline-flex items-center justify-center bg-white dark:bg-slate-900 text-orange-600">
                        <i class="mdi mdi-play inline-flex items-center justify-center text-2xl"></i>
                    </a>
                </div>-->
            </div>
        </div><!--end col-->

        <div class="lg:col-span-7">
            <div class="lg:ms-7">
                <h3 class="mb-4 md:text-2xl text-xl font-medium dark:text-white">VISI Kami</h3>

                <p class="text-slate-400 dark:text-slate-300 max-w-2xl mx-auto">Menjadi mitra training terpercaya dalam memberikan layanan berstandar tinggi dan efisien di Indonesia.
                </p>
            </div>
        </div><!--end col-->
    </div><!--end grid-->
</div><!--end container-->

<div class="container mx-auto" style="padding-top: 80px;">
    <div class="grid grid-cols-1 lg:grid-cols-12 md:grid-cols-2 gap-10 items-center">

        <div class="lg:col-span-7">
            <div class="lg:ms-7">
                <h3 class="mb-4 md:text-2xl text-xl font-medium dark:text-white">MISI Kami</h3>
<ul class="list-none md:list-discc text-slate-400">
    <li>
        <p>
            Memberikan solusi training yang efisien kepada klien dengan membangun hubungan yang profesional dan akses kepada para talenta.
        </p>
    </li>
    <li>
        <p>
            Mengubah kehidupan talenta dengan memberdayakan dan menghubungkan ke perusahaan.
        </p>
    </li>
    
</ul>


            </div>
        </div><!--end col-->

        <div class="lg:col-span-5">
            <div class="relative">
                <img src="assets/images/about1.png" class="relative" alt="">
    
            </div>
        </div><!--end col-->

    </div><!--end grid-->
</div><!--end container-->

</section><!--end section-->
<!-- End -->

<section class="relative md:py-24 py-16">
    <div class="container lg mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 pb-8 items-center">
            <div>
            
                <h3 class="mb-4 md:text-2xl text-xl font-semibold dark:text-white md:mb-10"> Nilai
                </h3>
                <h1 class="mb-4 md:text-2xl text-xl font-semibold text-blue-600 md:mb-0">
                    <span style="margin: 0 20px">S</span>
                    <span style="margin: 0 20px">A</span>
                    <span style="margin: 0 20px">B</span>
                    <span style="margin: 0 20px">E</span>
                    <span style="margin: 0 20px">S</span></h1>
            </div>
    
            <div>
                <p class="text-slate-400 dark:text-slate-300 max-w-xl">S #Sokong dan hormat kepada para pemangku kepentingan.
                </p>
                <p class="text-slate-400 dark:text-slate-300 max-w-xl">A #Aktivitas yang selalu efisien and bisa dipertanggungjawabkan
                </p>
                <p class="text-slate-400 dark:text-slate-300 max-w-xl">B #Bersemangat untuk bekerja dalam tim.
                </p>
                <p class="text-slate-400 dark:text-slate-300 max-w-xl">E #Eksekusi melebihi ekspektasi.
                </p>
                <p class="text-slate-400 dark:text-slate-300 max-w-xl">S #Selalu solutif dan berpandangan terbuka.
                </p>
            </div>
        </div><!--end grid-->
    
    </div><!--end container-->
    </section>



    
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800">
    <div class="container mx-auto">
        <div class="gap-10 items-center">
            <div class=>
                <h3 class="mb-4 md:text-2xl text-xl font-semibold dark:text-white text-center">Budaya Tim</h3>
                <ul class="list-none md:list-disc text-slate-400">
                    <li>
                        <p class="text-slate-400 dark:text-slate-300 max-w-xl">Menjadi rekan klien: selalu mencari solusi.
                        </p>
                    </li>
                    <li>
                        <p class="text-slate-400 dark:text-slate-300 max-w-xl">Menjadi keluarga dengan tim: berbagi kepercayaan, berkolaborasi,
                        berbagi pengetahuan, komunikasi dan saling mendukung.</p>
                    </li>
                    <li>
                    <p class="text-slate-400 dark:text-slate-300 max-w-xl">Bersikap humanis kepada sesama: menunjukkan sikap hormat.</p>
                    </li>
                </ul>
            </div>
        </div>        
</div><!--end container-->
</section>
    
<section class="relative md:py-24 py-16 dark:bg-slate-800">
    <div class="container mx-auto">
        <div class="gap-10 items-center">
            <div>
                <h3 class="mb-4 md:text-2xl text-xl font-semibold dark:text-white md:mb-10 text-center"> Prinsip Umum
                </h3>
                <ul class="list-none md:list-disc text-slate-400">
                    <li>
                        <p>
                            Bertindak sebagai rekan dari klien dengan memberikan solusi layanan terbaik, saran perbaikan, dan menjalin hubungan yang setara.
                        </p>
                    </li>
                    <li>
                        <p>
                            Bertindak mewakili brand klien (seolah kita adalah internal recruiter mereka) ketika menghubungi para kandidat.
                        </p>
                    </li>
                    <li>
                        <p>
                            Selalu berpikir dari perspektif orang lain, dengan cara apa kita memberikan layanan terbaik, bukan melakukan business as usual.
                        </p>
                    </li>
                    <li>
                        <p>
                            Melakukan research dan berdiskusi dengan tim apakah potensi proyek realistis dan solusi apa yang bisa ditawarkan
                        </p>
                    </li>
                    <li>
                        <p>
                            Melakukan asesmen yang tepat terhadap kandidat untuk menilai apakah mereka tepat untuk posisi yang dicari.
                        </p>
                    </li>
                    <li>
                        <p>
                            Memberikan 3 kandidat kepada klien maksimal dalam jangka waktu 7 hari 
                        </p>
                    </li>
                    <li>
                        <p>
                            Memberikan informasi mengenai proses rekrutmen kepada kandidat.
                        </p>
                    </li>
                </ul>
            </div>

        </div>        
</div><!--end container-->
</section>

<app-footer></app-footer>
<app-switcher></app-switcher>