::ng-deep .dx-fa-button-icon, .dx-fa-button-icon-close {
    text-align: center;
}
 
p {
    text-align: center;
}
 
#app-container {
    height: 360px;
    width: 320px;
}
 
::ng-deep .dx-tabpanel .dx-tabs-wrapper {
    display: flex;
    flex-flow: row nowrap;
}
 
::ng-deep .dx-tab {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: center;
}