<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->
<!-- Hero Start -->
<section class="py-36 lg:py-64 w-full table relative bg-[url('assets/images/bg/sab.jpg')] bg-center bg-cover"
    id="home">
    <div class="absolute inset-0 bg-black opacity-80"></div>
    <div class="container relative">
        <div class="grid grid-cols-1 mt-12">
            <h4
                class="text-white lg:text-5xl text-4xl lg:leading-normal leading-normal font-medium mb-7 position-relative">
                Providing All Necessities<br>For Your <ngx-typed-js class="typewrite relative text-type-element inline-block" [typeSpeed]="80"
                    [strings]="['Alumni Database', 'Certification ', 'Training']">
                    <span class="typing"></span>
                </ngx-typed-js>

            </h4>

            <p class="text-white opacity-50 mb-0 max-w-2xl text-lg">Temukan training terbaik untuk pengembangan karier Anda! 
                Daftar sekarang dan raih kesempatan untuk meningkatkan keterampilan Anda secara profesional.</p>

            <div class="relative mt-10">
                <a href="javascript:void(0);"
                    class="btn bg-blue-600 hover:bg-blue-700 border-blue-600 hover:border-blue-700 text-white rounded-md">Informasi 
                    Selengkapnya </a>
            </div>
        </div>
    </div><!--end container-->

</section><!--end section-->
<!-- Hero End -->
<!--<app-about></app-about> -->
<!--<app-services></app-services> -->
<!-- <app-portfolio></app-portfolio> -->
<!-- <app-pricing></app-pricing> -->
<app-team></app-team>
<app-blog></app-blog>
<app-review></app-review>
<app-footer></app-footer>
<app-switcher></app-switcher>