<section style="margin: 10px;">
    <header class="bg-white">
      <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a class="-m-1.5 p-1.5">
            <img class="h-12 w-auto" src="assets/images/logo-b.png" alt="">
          </a>
          <span class="p-3 text-sm font-semibold leading-6 text-gray-900">PT Siaga Arka Bestarindo</span>
        </div>
        <div class="flex lg:hidden">
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <div class="relative">
          
    
            <!--
              'Product' flyout menu, show/hide based on flyout menu state.
    
              Entering: "transition ease-out duration-200"
                From: "opacity-0 translate-y-1"
                To: "opacity-100 translate-y-0"
              Leaving: "transition ease-in duration-150"
                From: "opacity-100 translate-y-0"
                To: "opacity-0 translate-y-1"
            -->
          </div>
    
        </div>
        <div class="lg:flex lg:flex-1 lg:justify-end">
          <a class="text-sm font-semibold leading-6 text-gray-900">Certificate <span aria-hidden="true"></span></a>
        </div>
      </nav>
      <!-- Mobile menu, show/hide based on menu open state. -->
    </header>
  
    <section class="max-w-7xl flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5 text-center mx-auto">
      <div class="group relative rounded-lg p-4 w-full">
          <div>
              <h3 class="mb-4 text-xl font-medium dark:text-white text-center">Certificate Verification</h3>
              <div class="p-4 flex-auto overflow-hidden rounded-2xl bg-[#F3FAFA] text-sm leading-6 shadow-lg ring-1 ring-[#C5E3E3] text-center mx-auto">
               <div class="inline font-semibold text-gray-900 items-center">
                    <dt class="btn btn-sm btn-icon rounded-full bg-[#09A4A5] hover:bg-[#09A4A5] border-[#09A4A5] text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" aria-hidden="true">
                          <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" clip-rule="evenodd"/>
                        </svg>
                       </dt>
                      <a class="relative pl-3">This is the valid credential</a>
                      <p class="font-semibold text-gray-900 items-center">This credential was securely issued by PT Siaga Arka Bestarindo. All the displayed information is valid.</p>
                </div>
              </div>
  
              <div>
                 <div class="relative mt-3 ">
                  <dt class="flex font-semibold text-gray-900" style="font-size:x-large;">
                    <p>Issued To :</p>
                  </dt>
                  <dd class="flex" style="font-size: large;">Piktor</dd>
                </div>
                <div class="relative mt-3 ">
                  <dt class="flex font-semibold text-gray-900" style="font-size:x-large;">
                    <p>Certificate Title :</p>
                  </dt>
                  <dd class="flex" style="font-size: large;">Operator K3 Overhead Crane Kelas III</dd>
                </div>
                <div class="relative mt-3 ">
                    <dt class="flex font-semibold text-gray-900" style="font-size:x-large;">
                      <p>Certificate Number :</p>
                    </dt>
                    <dd class="flex" style="font-size: large;">233.SAB-K3/2024</dd>
                  </div>
        <div class="relative mt-3 ">
                <dt class="flex font-semibold text-gray-900" style="font-size:x-large;">
                  <p>Issued by :</p>
                </dt>
                <dd class="flex" style="font-size: large;">PT Siaga Arka Bestarindo</dd>
              </div>
          <div class="relative mt-3 ">
              <dt class="flex font-semibold text-gray-900" style="font-size:x-large;">
                <p>Release date :</p>
              </dt>
              <dd class="flex" style="font-size: large;">20-05-2024</dd>
            </div>
            <div class="relative mt-3 ">
              <dt class="flex font-semibold text-gray-900" style="font-size:x-large;">
                <p>Expiry date :</p>
              </dt>
              <dd class="flex" style="font-size: large;">-</dd>
            </div>
          </div>
          </div>
        </div>
    </section>
  
    <hr class="mt-7">
    <footer class="bg-white container pt-6 pb-5">
      <div class="flex lg:flex-1 ml-0">
        <span class="text-sm font-small leading-6 text-gray-900">© 2024 PT Siaga Arka Bestarindo</span>
      </div>
      
    </footer>
  
  </section>